<div class="alert alert-danger">
    Xác nhận xóa thuộc tính <strong>Màu sắc</strong>?
</div>

<form method="post">
    <button class="btn btn-danger">Xóa</button>
    <a class="btn btn-secondary" href="javascript:history.back()">Hủy</a>
</form>