<div class="alert alert-danger">
    Xác nhận xóa hình ảnh này?
</div>

<img src="/images/sample.png" class="img-thumbnail mb-3" />

<form method="post">
    <button class="btn btn-danger">Xóa</button>
    <a class="btn btn-secondary" href="javascript:history.back()">Hủy</a>
</form>